<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.chrome_os"
        android:required="false" />

    <application
        android:name=".DynamicColors"
        android:allowBackup="true"
        android:banner="@mipmap/ic_banner"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.TeoretickéZákladyInformatiky"
        tools:targetApi="33">
        <activity
            android:name=".kvizy.chomskehoHierarchia.ChomskehoHierarchia9"
            android:exported="false" />
        <activity
            android:name=".kvizy.chomskehoHierarchia.ChomskehoHierarchia8"
            android:exported="false" />
        <activity
            android:name=".kvizy.chomskehoHierarchia.ChomskehoHierarchia7"
            android:exported="false" />
        <activity
            android:name=".kvizy.chomskehoHierarchia.ChomskehoHierarchia6"
            android:exported="false" />
        <activity
            android:name=".kvizy.chomskehoHierarchia.ChomskehoHierarchia5"
            android:exported="false" />
        <activity
            android:name=".kvizy.chomskehoHierarchia.ChomskehoHierarchia4"
            android:exported="false" />
        <activity
            android:name=".kvizy.chomskehoHierarchia.ChomskehoHierarchia3"
            android:exported="false" />
        <activity
            android:name=".kvizy.chomskehoHierarchia.ChomskehoHierarchia2"
            android:exported="false" />
        <activity
            android:name=".kvizy.chomskehoHierarchia.ChomskehoHierarchia1"
            android:exported="false" />
        <activity
            android:name=".testy.Testy"
            android:exported="false" />
        <activity
            android:name=".priklady.Priklady"
            android:exported="false" />
        <activity
            android:name=".kvizy.Kvizy"
            android:exported="false" />
        <activity
            android:name=".teoria.TeoriaMenu"
            android:exported="false"
            android:label="@string/title_activity_teoria_menu"
            android:theme="@style/Theme.TeoretickéZákladyInformatiky.NoActionBar" />
        <activity
            android:name=".kvizy.operacieNadJazykmi.OperacieNadJazykmi10"
            android:exported="false" />
        <activity
            android:name=".kvizy.operacieNadJazykmi.OperacieNadJazykmi9"
            android:exported="false" />
        <activity
            android:name=".kvizy.operacieNadJazykmi.OperacieNadJazykmi8"
            android:exported="false" />
        <activity
            android:name=".kvizy.operacieNadJazykmi.OperacieNadJazykmi7"
            android:exported="false" />
        <activity
            android:name=".kvizy.operacieNadJazykmi.OperacieNadJazykmi6"
            android:exported="false" />
        <activity
            android:name=".kvizy.operacieNadJazykmi.OperacieNadJazykmi5"
            android:exported="false" />
        <activity
            android:name=".kvizy.operacieNadJazykmi.OperacieNadJazykmi4"
            android:exported="false" />
        <activity
            android:name=".kvizy.operacieNadJazykmi.OperacieNadJazykmi3"
            android:exported="false" />
        <activity
            android:name=".kvizy.operacieNadJazykmi.OperacieNadJazykmi2"
            android:exported="false" />
        <activity
            android:name=".kvizy.operacieNadJazykmi.OperacieNadJazykmi1"
            android:exported="false" />
        <activity
            android:name=".kvizy.konecnyAutomat.KonecnyAutomat7"
            android:exported="false" />
        <activity
            android:name=".kvizy.konecnyAutomat.KonecnyAutomat6"
            android:exported="false" />
        <activity
            android:name=".kvizy.konecnyAutomat.KonecnyAutomat5"
            android:exported="false" />
        <activity
            android:name=".kvizy.konecnyAutomat.KonecnyAutomat4"
            android:exported="false" />
        <activity
            android:name=".kvizy.konecnyAutomat.KonecnyAutomat3"
            android:exported="false" />
        <activity
            android:name=".kvizy.konecnyAutomat.KonecnyAutomat2"
            android:exported="false" />
        <activity
            android:name=".kvizy.konecnyAutomat.KonecnyAutomat1"
            android:exported="false" />
        <activity
            android:name=".kvizy.abecedaSlovoJazyk.AbecedaSlovoJazyk10"
            android:exported="false" />
        <activity
            android:name=".kvizy.abecedaSlovoJazyk.AbecedaSlovoJazyk9"
            android:exported="false" />
        <activity
            android:name=".kvizy.abecedaSlovoJazyk.AbecedaSlovoJazyk8"
            android:exported="false" />
        <activity
            android:name=".kvizy.abecedaSlovoJazyk.AbecedaSlovoJazyk7"
            android:exported="false" />
        <activity
            android:name=".kvizy.abecedaSlovoJazyk.AbecedaSlovoJazyk6"
            android:exported="false" />
        <activity
            android:name=".kvizy.abecedaSlovoJazyk.AbecedaSlovoJazyk5"
            android:exported="false" />
        <activity
            android:name=".kvizy.abecedaSlovoJazyk.AbecedaSlovoJazyk4"
            android:exported="false" />
        <activity
            android:name=".kvizy.abecedaSlovoJazyk.AbecedaSlovoJazyk3"
            android:exported="false" />
        <activity
            android:name=".kvizy.abecedaSlovoJazyk.AbecedaSlovoJazyk2"
            android:exported="false" />
        <activity
            android:name=".kvizy.abecedaSlovoJazyk.AbecedaSlovoJazyk1"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>