<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".DynamicColors"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.TeoretickéZákladyInformatiky"
        android:largeHeap="true"
        tools:targetApi="33">
        <activity
            android:name=".OperacieNadJazykmi10"
            android:exported="false" />
        <activity
            android:name=".OperacieNadJazykmi9"
            android:exported="false" />
        <activity
            android:name=".OperacieNadJazykmi8"
            android:exported="false" />
        <activity
            android:name=".OperacieNadJazykmi7"
            android:exported="false" />
        <activity
            android:name=".OperacieNadJazykmi6"
            android:exported="false" />
        <activity
            android:name=".OperacieNadJazykmi5"
            android:exported="false" />
        <activity
            android:name=".OperacieNadJazykmi4"
            android:exported="false" />
        <activity
            android:name=".OperacieNadJazykmi3"
            android:exported="false" />
        <activity
            android:name=".OperacieNadJazykmi2"
            android:exported="false" />
        <activity
            android:name=".OperacieNadJazykmi1"
            android:exported="false" />
        <activity
            android:name=".KonecnyAutomat7"
            android:exported="false" />
        <activity
            android:name=".KonecnyAutomat6"
            android:exported="false" />
        <activity
            android:name=".KonecnyAutomat5"
            android:exported="false" />
        <activity
            android:name=".KonecnyAutomat4"
            android:exported="false" />
        <activity
            android:name=".KonecnyAutomat3"
            android:exported="false" />
        <activity
            android:name=".KonecnyAutomat2"
            android:exported="false" />
        <activity
            android:name=".KonecnyAutomat1"
            android:exported="false" />
        <activity
            android:name=".AbecedaSlovoJazyk10"
            android:exported="false" />
        <activity
            android:name=".AbecedaSlovoJazyk9"
            android:exported="false" />
        <activity
            android:name=".AbecedaSlovoJazyk8"
            android:exported="false" />
        <activity
            android:name=".AbecedaSlovoJazyk7"
            android:exported="false" />
        <activity
            android:name=".AbecedaSlovoJazyk6"
            android:exported="false" />
        <activity
            android:name=".AbecedaSlovoJazyk5"
            android:exported="false" />
        <activity
            android:name=".AbecedaSlovoJazyk4"
            android:exported="false" />
        <activity
            android:name=".AbecedaSlovoJazyk3"
            android:exported="false" />
        <activity
            android:name=".AbecedaSlovoJazyk2"
            android:exported="false" />
        <activity
            android:name=".AbecedaSlovoJazyk1"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>